.navbar-container {
    display: flex;
    flex-direction: row;
    height: 70px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
}

.navbar-container .left-heading {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.navbar-container .left-heading span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

    color: #393535;
}

.navbar-container .left-heading .summary {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.navbar-container .left-heading .fill-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.navbar-container .left-heading .enter-test {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.navbar-container .right-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.navbar-container .right-heading span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    color: #000000;
}

.navbar-container .right-heading .end-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #FF6812;
    border-radius: 2px;
    padding: 8px 15px;
    cursor: pointer;
}

.navbar-container .right-heading .end-task span {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */


    color: #FFFFFF;
}

.navbar-container .right-heading .time-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #FEE9E1;
    border-radius: 2px;
    padding: 8px 15px;
}